#bkg {
	opacity: 0.65;
	position: absolute;
	width: 100%;
	height: 100%;
}
*::-webkit-scrollbar {
	display: none;
  }



button {
	opacity: 0.5;
	border: none;
	position: absolute;
	background: transparent;
	cursor: pointer;
	color: #6B6B6B;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
button:hover {
	opacity: 1;
}  

.assDiv:first-child {
	
	margin-top: 20px;
}

.assDiv {
	--color: #CE7B7B;
	.delete-button {
		display: flex;
		left: 155px;
		bottom: 32px;
		background-color: var(--color);
		color: white;
		width: 67px;
		height: 23px;
		border-radius: 5px;
		font-size: 14px;
		margin: 0 auto;
		position: relative;
	}
	
	.ass {
		position: relative;
		text-align: left;
		width: 400px;
		height: 110px;
		border-radius: 15px;
		background-color: #F3F3F3;
		opacity: 1;
		-webkit-transition-duration: 0.2s;
		transition-duration: 0.2s;
		.colorBar {
			position: absolute;
			width: 30px;
			height: 110px;
			background-color: var(--color);
			border-radius: 15px 0px 0px 15px;
			top: 0px;
			left: 0px;
		}
		.assInfo {
			h2, h3, h4, h5 {
				color: var(--color);
			}
			width: 345px;
			height: 92px;
			position: relative;
			left: 37px;
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: space-between;
			align-content: space-between;
			align-items: stretch;
			bottom: 1px;
	
			.ddl {
				position: relative;
				bottom: 0px;
			}
			.priority {
				position: relative;
				text-align: right;
			}
			
			p {
				position: relative;
				top: 1px;
			}
			p.completionTime {
				position: relative;
				top: 1px;
				color: var(--color);
			}
		}
	
	}

	button.ass:hover {
		opacity: 0.8;
	}
}





div.course {
	margin-top: 20px;
	width: 180px;
	height: 130px;
	border: 4px solid;
	border-radius: 15px;
	--color: #CE7B7B;
	border-color: var(--color);
	background-color: white;
	.courseDeco {
		opacity: .7;
		width: 168px;
		height: 40px;
		background-color: var(--color);
		color: #fff;
		border-radius: 11px 11px 0 0;
		margin: 2px;
		padding-left: 10px;
		font-size: 20px;
		font-weight: bold;
		text-align: left;
		
	}

	.courseDeco:hover {
		opacity: 1;
		cursor: pointer;
	}

	h3 {
		margin-top: 5px;
		font-size: 15px;
		color: var(--color);
		font-weight: semibold;
		margin-left: 13px;
	}
	h4 {
		font-size: 13px;
		color: #6B6B6B;
		font-weight: 450;
		margin-left: 13px;
		margin-right: 13px;
		height: 20px;
	}
	button {
		position: relative;
		font-size: 25px;
		padding-left: 144px;
	}
}
